.fundo{
	background-image: url('imagens/fundo.png');
	background-position: center;
	background-attachment: scroll;
	font: normal 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.cabecalho{
	color: #A1972D;
}

.fundo_div{
	background-color: #EAE8DA;
	font-weight: 500;
}

.fundo_menu{
	background-color: #817C3F;
	font: bold;
}